<%= semantic_form_for [@estimate, @item], html: { class: 'form-horizontal' } do |form| %>
  <%= form.inputs do %>
    <div class="form-group">
      <%= form.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.input :name, label: false, input_html: { class: 'form-control', placeholder: 'Name' } %>
        <%= form.semantic_errors :name %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :description, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.input :description, label: false, input_html: { class: 'form-control', placeholder: 'Description' } %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :quantity, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.input :quantity, label: false, input_html: { class: 'form-control', placeholder: 'Quantity' } %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :unit_price, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.input :unit_price, label: false, input_html: { class: 'form-control', placeholder: 'Unit Price' } %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :vat_rate, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.input :vat_rate, prompt: @item.vat_rate, as: :select, collection: Item::ALLOWED_VAT_RATES, label: false, input_html: { class: 'form-control' } %>
        <%= form.semantic_errors :vat_rate %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= form.action :submit, as: :input, button_html: { class: 'btn btn-primary' } %>
    </div>
    <div class="col">
      <%= link_to "Back to Estimate", estimate_path(@estimate), class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
